input {
    text-align:start !important;
    padding: 20px;
  }
  ::-webkit-input-placeholder {
    text-align:start !important;
  }
  :-moz-placeholder {
    text-align:start !important;
  }
  .text-dark-50{
    text-decoration: none !important;
  }