@import url('https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic&display=swap');

body {
    font-family: 'Noto Kufi Arabic', sans-serif !important;
}

[type="tel"], [type="url"], [type="email"], [type="number"] {
    direction: rtl;
}

input {
    text-align:start !important;
    padding: 20px;
  }
  ::-webkit-input-placeholder {
    text-align:start !important;
  }
  :-moz-placeholder {
    text-align:start !important;
  }
  .text-dark-50{
    text-decoration: none !important;
  }
