/* Start Global Rules */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
}
html{
    font-family: 'Roboto Condensed', sans-serif ,'Roboto Slab', serif;
}
/* End Global Rules */

/* Start Media Query */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
	.container {
		width: 540px;
		margin-left: auto;
		margin-right: auto;
	}
}

@media (min-width: 600px) { 
	.container {
		width: 600px;
		margin-left: auto;
		margin-right: auto;
	}
	#sec-1 .navbar-brand{
		position: relative;
		margin-left: auto;
	}
	#sec-1 .navbar-toggler{
		position: absolute;
		right: 20px;
	}
}
/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {  
	.container {
		width: 720px;
	}
	#sec-1 .navbar-brand{
		position: relative;
		margin-left: auto;
	}
	#sec-1 .navbar-toggler{
		position: absolute;
		right: 20px;
	}
	#sec-8 .comment{
		display: flex;
		flex-direction: row;
	}
	#sec-8 form{
		width: 78% !important;
		height: 78% !important;
	}
	#sec-8 form .comm-area .box{
		width: 92% !important;
	}
}
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
	.container {
		width: 930px;
	}
}
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
	.container {
		width: 1140px;
	}
}
@media (min-width: 1400px) {  
	.container {
		width: 1340px;
	}
}
/* End Media Query */

/* Start Section-1 */
.navbar ul li {
	display: flex;
	margin-left: auto;
}
#sec-1 .container{
	display: grid;
	grid-template-rows: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
	direction: rtl;
}
#sec-1 .navbar-brand{
	width: 30%;
}
#sec-1 .navbar-nav {
	margin-left: auto;
	margin-right: -100px;
}
/* End Section-1 */

/* Section 7 */
#sec-7{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}
#sec-7 img {
	width: 40%;
	display: block;
	border-radius: 50%;
	box-shadow: 0 0 10px 3px #02c6fd;
	margin: auto;
}
#sec-7 figure {
	margin-bottom: 15px;
}
#sec-2 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	margin-right: 10px;
}
.caption{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}
.caption a{
	text-decoration: none;
	color: rgb(12, 12, 254);
}
#sec-7 figure figcaption p{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1.5px solid #000;
}
#sec-7 h3{
	font-size: 45px;
	font-weight: bolder;
	margin-bottom: 30px;
}

#sec-7 figure figcaption .bold{
	font-weight: bolder;
	text-align: end;
	color: rgb(71, 71, 251);
}
#sec-7 figure .cont-1{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	padding: 0 15px;
}
#sec-7 figure .cont-2{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	padding: 0 15px;
	border-bottom: 1.5px solid #000;
	padding-bottom: 20px;
}
#sec-7 h4{
	font-size: 25px;
	font-weight: bolder;
	margin-bottom: 10px;
	color: #434242;
	text-align: right;
	padding: 0 15px;
}

/* Start Section-8 */
#sec-8 form{
	margin-left: 90px;
	width: 83.5%;
	direction: rtl;
	height: 360px;
	margin-bottom: 50px;
}
#sec-8 h5{
	padding: 0;
	margin: 0 90px 25px 0;
	font-size: 25px;
}
#sec-8 form .f-1{
	margin-bottom: 15px;
	justify-content: space-around;
}
#sec-8 form .f-1 .inp-1{
	box-shadow: 1px 1px 3px 3px #c5d7f5;
	border: none;
	background-color: #fafafa;
	outline:none ;
	border-radius: 6px;
	line-height: 2;
	width: 100%;
}
#sec-8 form .f-1 .in-1{
	margin-bottom: 10px;
}
#sec-8 form .comm-area .box{
	margin-top: 10px;
	box-shadow: 1px 1px 3px 3px #c5d7f5;
	border: none;
	border-radius: 6px;
}
#sec-8 form .comm-area{
	margin-right: 35px;
	margin-bottom: 15px;
}
#sec-8 form .btn{
	margin-right: 35px;
	margin-bottom: 10px;
	padding: 10px;
	text-align: left;
	cursor:pointer
}

/* Start Section-2 */
#sec-2 figure img{
	width:  100%;
}
#sec-2 figure {
	margin-bottom: 30px;
	direction: rtl;
}
#sec-2 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	width: 100%;
	text-align: right;
}
.caption{
	display: flex;
	justify-content: space-between;
}
#sec-2 figure figcaption a{
	color: rgb(12, 12, 254);
	margin-bottom: 16px;
	text-decoration: none;
}
#sec-2 figure figcaption p{
	text-align: justify;
	font-size: 0.9rem;
	text-align: start;
}

#sec-2 figure figcaption .bold{
	font-weight: bolder;
	display: block;
	text-align: end;
}
/* End Section-2 */

/* Start Section-3 */
#sec-3 img {
	width: 100%;
}
#sec-3 figure {
	margin-bottom: 15px;
}
#sec-3 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	width: 100%;
}
.caption{
	display: flex;
	justify-content: space-between;
}
#sec-3 figure figcaption a{
	color: rgb(12, 12, 254);
	margin-bottom: 16px;
	text-decoration: none;
}
#sec-3 figure figcaption p{
	text-align: justify;
	font-size: 0.9rem;
	text-align: end;
}

#sec-3 figure figcaption .bold{
	font-weight: bolder;
	display: block;
	text-align: end;
}
/* End Section-3 */

/* Start Section-4 */
#sec-4 img {
	width: 100%;
}
#sec-4 figure {
	margin-bottom: 15px;
}
#sec-4 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	width: 100%;
}
.caption{
	display: flex;
	justify-content: space-between;
}
#sec-4 figure figcaption a{
	color: rgb(12, 12, 254);
	margin-bottom: 16px;
	text-decoration: none;
}
#sec-4 figure figcaption p{
	text-align: justify;
	font-size: 0.9rem;
	text-align: end;
}

#sec-4 figure figcaption .bold{
	font-weight: bolder;
	display: block;
	text-align: end;
}
/* End Section-4 */

/* Start Section-5 */
#sec-5 figure {
	margin-bottom: 15px;
	padding-top: 80px;
	position: relative;
}
#sec-5 figure .home{
	background-color: #fff;
}
#sec-5 .home a img {
	width: 70%;
	display: block;
	border-radius: 50%;
	margin: auto;
	padding-top: 15px;
}
#sec-5 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	width: 100%;
}
.caption{
	display: flex;
	justify-content: space-between;
}
#sec-5 figure figcaption a{
	color: rgb(12, 12, 254);
	margin-bottom: 16px;
	text-decoration: none;
}
#sec-5 figure figcaption p{
	text-align: justify;
	font-size: 0.9rem;
	text-align: end;
}

#sec-5 figure figcaption .bold{
	font-weight: bolder;
	display: block;
	text-align: end;
}
/* End Section-5 */

/* Start Section-6 */
#sec-6{
	padding-top: 20px;
}
#sec-6 .container{
	direction: rtl;
}
#sec-6 ul{
	align-items: center;
}
#sec-6 ul li{
	list-style: square;
	text-align: start;
	direction: rtl;
	text-align: right;
	font-size: 15px;
	line-height: 1.8;
}
#sec-6 img {
    max-height: 50px;
	width: 20%;
	margin-bottom: 10px;
}
#sec-6 a {
	display: inline-flex;
	border: thin solid #fff;
	width: 30px;
	height: 30px;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	margin: 0 5px;
	text-decoration: none;
	background-color: gray;
	color: white;
}
/* End Section-6 */

/* Section 9 */
#sec-9{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 75%;
	margin: auto;
}
#sec-9 img {
	width: 40%;
	display: block;
	border-radius: 50%;
	box-shadow: 0 0 10px 3px #02c6fd;
	margin: auto;
}
#sec-9 figure {
	margin-bottom: 15px;
}
#sec-9 figure figcaption {
	background-color: #fff;
	color: #000;
	padding: 15px 10px;
	margin-right: 10px;
}
.caption{
	display: flex;
	justify-content: space-between;
	margin-bottom: 20px;
	font-size: 16px;
	font-weight: bold;
}
.caption a{
	text-decoration: none;
	color: rgb(12, 12, 254);
}
#sec-9 figure figcaption p{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	margin-top: 15px;
	padding-bottom: 20px;
	border-bottom: 1.5px solid #000;
}
#sec-9 h3{
	font-size: 45px;
	font-weight: bolder;
	margin-bottom: 30px;
}

#sec-9 figure figcaption .bold{
	font-weight: bolder;
	text-align: end;
	color: rgb(71, 71, 251);
}
#sec-9 figure .cont-1 ,p{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	padding: 0 15px;
}
#sec-9 figure .cont-2{
	text-align: justify;
	font-size: 1rem;
	text-align: end;
	word-spacing: 1.5px;
	line-height: 30px;
	padding: 0 15px;
	border-bottom: 1.5px solid #000;
	padding-bottom: 20px;
}
#sec-9 h4{
	font-size: 25px;
	font-weight: bolder;
	margin-bottom: 10px;
	color: #434242;
	text-align: right;
	padding: 0 15px;
}

#comments{
	text-align: start;
	direction: rtl;
	width: 80%;
}
.card-body{
	border-style: inset;
	border-radius: 12px;
	background-color: ghostwhite;
}

/* Start Footer */
footer .container{
	margin-top: 10px;
	direction: rtl;
}
footer ul{
	margin-right: 85px;
}
footer ul li{
	padding: 0 5px;
	font-size: 13px;
}
footer p{
	padding: 0 5px;
	font-size: 11px;
}
/* End Footer */